.vs/
Library/
Logs/
Temp/
UserSettings/
obj/
*.csproj
*.sin
.vsconfig


PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01_N.png
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01_N.png.meta
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02.png
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02.png.meta
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02_N.png
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02_N.png.meta
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01.png
PolarStar/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01.png.meta
